body {
   margin: 0px;
   background-color: #363636;
   color: #cacaca;
   overflow: scroll;
   font-family: ubuntu, arial, sans-serif;
}

.title-bar {
   background-color: #262626;
   text-align: right;
}

.title-bar>.logo-menu {
   float: left;
}

.title-bar>.title {
   float: left;
}

.title-bar>.html5logo {
   float: left;
   width: 24px;
}

.title-bar>.beta {
   float: left;
   font-weight: bold;
}

.title-bar>* {
   margin-top: 2px;
   margin-right: 4px;
}

.menu { /*background-color: #2e2e2e;*/
   padding: 0px;
   
}

.menu .menu-item { /*background-image: url('images/layout/menu-item-background.png');*/
   height: 50px;
   width: 125px;
   font-size: 14px;
   overflow: hidden;
   cursor: pointer;
   background-image:url('images/layout/pallini_menu.png');
   background-repeat: no-repeat;
   background-position: center right;
}

.menu .menu-item>* {
   display: inline;
   vertical-align:middle;
}

.menu .menu-item>img {
   /*margin-top: 8px;*/
   /*margin-left: 6px;*/
}

.menu .menu-item>div {
   line-height: 50px;
   /*margin-left: 6px;*/
}

.bus-trip-detail .prev {
   color: #AAAAAA;
}

.bus-trip-detail .current {
   color: #FF0000;
}

.bus-trip-detail .next {
   color: #FFFFFF;
}

.routing>* {
   display: block;
}

.routing>.from>* {
   display: inline-block;
}

.routing>.to>* {
   display: inline-block;
}

.fragment.routecalc>.content>* {
   display: block;
   margin-bottom: 2px;
}

.label-icons {
   font-size: 16px;
   clear: both;
   height: 36px;
}

.label-icons>.left>div {
   display: inline-block;
}

.label-icons>.right {
   float: right;
   padding-right: 4px;
}

.label-icons>.right>img {
   display: inline-block;
   background-color: #FFFFFF;
   width: 32px;
   height: 32px;
   margin-top: 2px;
   margin-left: 4px;
}

.row-item {
   background-image: url("images/layout/pallini_menu_laterale.png");
   background-repeat: no-repeat;
   background-position: center bottom;
   padding: 7px;
   clear: both;
   height:32px;
}

.row-item>.go {
   top: 0px;
   float: right;
}

.map>.controls {
   xbackground-color: #777777;
   position: absolute;
   top: 0px;
   width: 96px;
   height: 40px;
   right: 0px;
   z-index:1999;
}

.map>.controls>* {
   float: left;
   margin-top: 10px;
   width: 40px;
   height: 40px;
}

.map>.mapdiv {
   position: absolute;
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
}

.warning-dialog {
   width: 300px;
   margin: auto;
   text-align: center;
}

.warning-dialog>div {
   border: 1px solid red;
   background-color: yellow;
   margin-top: 2px;
   margin-bottom: 2px;
}

.warning-dialog>button {
   xdisplay: block;
   width: 300px;
   margin: auto;
}

.cover {
   position: fixed;
   left: 0px;
   right: 0px;
   bottom: 0px;
   top: 0px;
   z-index: 4000;
   background-color: #363636;
   opacity: 1;
   -moz-transition: opacity 0.7s;
   -webkit-transition: opacity 0.7s;
   -o-transition: opacity 0.7s;
   transition: opacity 0.7s;
}

.splash-panel {
   padding-top: 30px;
   width: 300px;
   margin: auto;
   overflow: hidden;
}

.splash-panel>* {
   text-align: center;
   display: block;
   margin: auto;
}

.splash-panel>.html5logo {
   height: 30px;
}

.splash-panel>.image-container {
   width: 225px;
   height: 200px;
   position: relative;
}

.splash-panel>.image-container>img {
   display: block;
   width: 225px;
   position: absolute;
   left: 0px;
   top: 40px;
   -moz-transition: left 0.7s;
   -webkit-transition: left 0.7s;
   -o-transition: left 0.7s;
   transition: left 0.7s;
}

.sasabus-popup {
   width: 200px;
}

.train-popup {
   width: 200px;
}

.parking-popup {
   width: 200px;
}

.departure-input {
   margin-top: 16px;
   margin-bottom: 8px;
}

.departure-input>input {
   width: 150px;
}

.route-result {
   white-space: nowrap;
   overflow: hidden;
}

.main>div {
   margin: 6px;
}

.bus-stations .bus-stations-list
{
   background-image:url('images/layout/stops-line.png');
   background-repeat:no-repeat;
}

.bus-stations-list>.row-item
{
   height:32px;
   margin-left:20px;
}

.bus-stations .favourites-icon
{
   display:none;
}

.bus-stations-search-route>.bus-station-search
{
	
    margin-top: 20px;
    padding-bottom:80px;
    background-image:url('images/layout/pallini_menu_laterale.png');
    background-repeat:no-repeat;
    background-position:center bottom;
}

.bus-stations-search-route>.route
{
   padding-top:60px;
}


body>.about {
   display: none;
   position: absolute;
   top: 32px;
   left: 50%;
   margin-left: -130px;
   width: 260px;
   background-color: white;
   padding: 8px;
   z-index: 2000;
   border: 1px solid #AAAAAA;
}

body>.about>button {
   float: right;
}

.about>* {
   display: block;
   margin-bottom: 8px;
}

.about>.copyright>* {
   display: inline-block;
}

.about>.license>* {
   display: inline-block;
}

.about>.third-party-licenses {
   display: none;
}

.about>.third-party-licenses>.row {
   margin-bottom: 8px;
}

.about>.third-party-licenses>.row>* {
   display: inline-block;
}

.it-de-name>.second {
   font-size: 13px;
   xfont-style: italic;
}

.bus-trip-detail .row {
   padding: 2px;
   border-top: 1px solid #888888;
}

.bus-trip-detail .row>.time {
   float: left;
}

.bus-trip-detail .row>.it-de-name {
   margin-left: 54px;
}

.title-bar>.flags>a {
	color: #000000;
    display: block;
    float: right;
    font-size: 5px;
    height: 28px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 8px;
    text-decoration: none;
    width: 28px;
}

.title-bar>.flags>.it {
   background-image: url('images/Italy.png')
}

.title-bar>.flags>.de {
   background-image: url('images/Germany.png')
}

.title-bar>.flags>.en {
   background-image: url('images/UnitedKingsom.png')
}

.it-de-name>.first {
   
}

 /* #E134 {
	color: #ed1c24;
	font-weight: bolder;
}

#E146 {
	color: #dfd100;
	font-weight: bolder;
}

#E140 {
	color: #2e3192;
	font-weight: bolder;
} */

.it-de-name>.first>.favourites-icon {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}

.dateBoxPopup {
   background-color: #DDDDDD;
}

.dateBoxPopup td {
   border: 1px solid #AAAAAA;
}

.route-result .bus-name * {
   float: left;
   margin-right: 4px;
   margin-top: 2px;
}

.route-result .bus-name {
   height: 26px;
   background-color: #262626;
   margin-top: 4px;
   padding:8px;
}

.route-result>* {
   clear: both;
}

.route-result .down-icon {
   display: block;
   width: 21px;
   margin: auto;
}

.bus-station-search input {
   width: 98%;
}

.sasabus-date-box>* {
   display: inline;
   vertical-align: middle;
}

.sasabus-date-box input {
   width: 150px;
   margin-right: 2px;
}

.parking-popup .free-data {
   width: 200px;
   height: 200px;
}

.parking-panel .free-data {
   width: 150px;
   height: 100px;
}

.nearest-bus-stops {
   margin-top: 20px;
}

.title-bar .logo-menu {
   height: 35px;
   margin-left: 3px;
   margin-top: 7px;
}

.title-bar .menu-icon {
   float:left;
   height: 35px;
   margin-left: 6px;
   margin-top: 7px;
}



.testoHome {
   font-weight: bolder;
   color: #fa952e;
}


.green-panel .tree
{
   width:380px;
}

.bus-trip-detail .row
{
   clear:both;
}

.green-panel .suedtirol-pass
{
   width:380px;
}

.areas .area_1
{
   background-image:url('images/layout/Bolzano.png');
   background-repeat: no-repeat;
}
.areas .area_2
{
   background-image:url('images/layout/Merano.png');
   background-repeat: no-repeat;
}
.areas .area_3
{
   background-image:url('images/layout/Suburbana.png');
   background-repeat: no-repeat;
}

.areas .row-item .it-de-name>*
{
   margin-left:30px;
}

.home .favourite-container 
{
   margin-bottom:50px;
}

.route .intro-text
{
   margin-bottom:20px;
}

.main > .green-panel
{
   background-color: #262626;
    left: 40px;
    margin: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 6000;
    text-align: center;
}

.main > .green-panel>*
{
   margin-top:30px;
}